<div class="home-container">
 
   <!-- Sección de Nosotros -->
   <section class="about">
    <div class="about-text">
      <h2>Nosotros</h2>
      <hr>
      <p>Somos una StartUp especializada en ayudar a los jóvenes a poder mejorar su alimentación con recetas fáciles y saludables, mejorando también su experiencia en la cocina.</p>
      
      <button class="register-btn">Regístrate</button>
      <br>
      <div class="app-links">
        <br>
        <br>
  <br>
        <a><img src="images/google-play-badge.png" alt="Google Play"></a> 
        <a><img src="images/app-store-badge.png" alt="App Store"></a>
      </div>
    </div>
    <div class="about-image">
      <img src="image/image1.png" alt="Cooking Image">
    </div>
  </section>
</div>

 