<div class="plans-container">
   
  
    <section class="plans">
      <h2>PLANES</h2>
      <div class="plan">
        <div class="plan-card">
          <h3>Plan Regular</h3>
          <ul>
            <li>Miles de recetas fáciles y saludables cuando quieras</li>
            <li>Podrás colocar tus reseñas y opiniones</li>
          </ul>
          <p>GRATIS</p>
        </div>
        <img src="path-to-your-image.png" alt="Plan Image" class="plan-image">
        <div class="plan-card premium">
          <h3>Plan Premium</h3>
          <ul>
            <li>Accede a todo lo del plan regular</li>
            <li>Consejos para mejorar en la cocina</li>
            <li>Grupos especiales del tipo de comida que gustes</li>
          </ul>
          <p>$10.00 MENSUAL</p>
        </div>
      </div>
    </section>
  </div>

